/*-------------------------------------------------------------------------------------------------------------------------------
---------------------------------------- Varukorg --------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------*/

.middlepart_h2, .summery, .discount_button{  
    font-size: 5.5vw;
}

.section_bucket{
    background-color: rgb(248, 219, 242); /*Variabel som följer temat!?*/
    padding: 10px 15px;

}

.bucket{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.main_heading_bucket{
    display: flex;
    justify-content: space-between;
}

.bucket_heading{
    font-size: 4.5vw;
    
}

.bucket_heading_none{
    display: none;         /*ev annan lösning men går så länge*/
}

.summery{
    font-weight: 600;
}

/* I varukorgen i mobil kommer vi nog få hoppa rubriker och infon på munkarna, 
blir nog för rörigt och plottrigt? Mitt förslag:
Namn, bild, antal och delsumma vill man ju ha i sammanställningen på rad. 
Följs sedan av totalsumma, dragen rabatt och Summa att betala. Se nedan.

Varukorg:               Delsumma:
Namn på munk
bild
antal                   Summa

Namn på munk
bild
antal                   Summa

Namn på munk
bild 
antal                   Summa

Använd rabattkod 

Totalsumma:
Dragen rabatt:
Summa att betala:
*/





/*-----------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------  Form   -----------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------*/

.section-form{
    background-image: url(../images/blueberrybackground.jpg);
    padding: 15px;
}
    

.checkout_form{
    background-color:white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    font-size: 4.5vw;
}

.input_group{
    display: block;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.reset_form_button{
    background-color:  rgb(248, 219, 242);  /*Får ej läggas till i variabel då denna ska vara fast färg.*/
    border-radius: 5px;
    font-size: 4.5;
}



.submit_form_button{
    background-color: rgb(195, 237, 195);  /*Får ej läggas till i variabel då denna ska vara fast färg.*/
    border-radius: 5px;
    font-size: 4.5;
}


/*Så gott som klart. !!! Men vill ändra storlek på knappar när sidan bilr större. Fungerar ej med fint-size.

Men är en del att fixa i JS sen. Se i JS- filen.*/




/*---------------------------------------------------------------------------------------------------
---------------------- footer-------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------*/

