*{
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 243, 243);
    overflow-x: hidden;
}

/*---------------------------------------------------------------------------------------------------
-------------------------------- Header-------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------*/
header {
    position: relative;    
    padding: 20px;
    color: rgb(21, 123, 134);
    background-image: url("../images/donut_in_napkin2.jpg");
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    width: auto;
    background-repeat: no-repeat;     
}

h1 {
    font-family: 'Sofia';   
    font-size: 4rem;
    display: block;
    font-style: italic;
    text-align: right;
    position: relative;
    padding-top: 35px;
    padding-right: 35px;
}

/*---------------------------------------------------------------------------------------------------
-------------------------------- Nav-------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------*/
.navLinks ul {
    display: flex;
    background-color: rgb(5, 54, 71);
    margin-top: 0;
}

.menuList   {
    list-style: none;
}

.navLinks_a {     
    color:rgb(195, 237, 195);               
    text-decoration: none;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-left: 10px;                              
    color:rgb(195, 237, 195);               
    text-decoration: none;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-left: 10px;
}

nav ul {
    padding: 20px;
}

nav a:hover {
    color: rgb(26, 108, 111);
}

nav i {
    text-align: right; 
    position: fixed;
    right: 25px;
    top: 20px;
    z-index: 2;
}

/*---------------------------------------------------------
-------------------------Our donuts------------------------
----------------------------------------------------------*/

.ourDonuts{
    height: 80px;
    text-align: center;
    width: 100vw;
}

.ourDonuts h2{
    line-height: 80px;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;    
}

/*---------------------------------------------------------
-------------------Dropdown sorting donuts------------------------
----------------------------------------------------------*/

.ourDonutsDropdownContainer{
    max-width: 700px;
    margin: 0 auto;
    text-align: right;
}

.ourDonutsDropdown{
    display: inline-block;
    position: relative;
    font-size: 1rem;
    max-width: 750px;
    font-family: 'Dosis', sans-serif;
}

.ourDonutsDropBtn{
    background-color:#131313;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 5px;
    width: 150px;
}

.ourDounatsDropdownContent{
    display: none;
    position: absolute;
    background-color: #9e9e9e;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(77, 126, 119, 0.2);
    z-index: 1;
    border-radius: 3px;
    text-align: left;
    font-size: 1.2rem;
  }
  
.ourDounatsDropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.ourDounatsDropdownContent a:hover {background-color: #ddd;}

.ourDonutsDropdown:hover  .ourDounatsDropdownContent {display: block;}

.ourDonutsDropBtn:hover {background-color: rgb(49, 48, 48);}

/*---------------------------------------------------------
-------------------Dounat card-----------------------------
----------------------------------------------------------*/

.donutCard {
    background-color: pink;
    max-width: 400px;
    min-width: 100px;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.donutCardHeaderContainer{
   height: 100px;
   text-align: center;
}

.donutCardHeaderContainer h3{
    line-height: 100px;
    font-size: 2rem;
    font-family: 'Dosis', sans-serif;
    text-shadow: 1px 1px #ffffff;
}

.donutCardImgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donutCardImgContainer img{
    width: 100%;
    max-width: 150px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.donutCardContainer img.donutCardImg2{
    display: none;
}

.donutCardImgContainer p{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.donutCardRating{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.donutCardRating span{
    margin-left: 2px;
    margin-right: 2px;
    font-size: 1.5rem;
}

.checked{
    color: yellow;
}

.donutCardButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.donutCardButtonContainer button{
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

.donutCardButtonContainer input{
    width: 70px;
    height: 40px;
    border-radius: 5px;
    border: grey 2px solid;
    text-align: center;
    font-size: 1.5rem;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
 }

/*---------------------------------------------------------
-------------------Information ----------------------------
----------------------------------------------------------*/

.informationText{
    background-color: rgb(222, 247, 242);
    min-height: 750px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.informationTextHeaderContainer{
    height: 80px;
    text-align: center;
    margin-left: 50px;
}

.informationTextHeaderContainer h2{
    line-height: 80px;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px #ffffff;
    padding-top: 15px;
}

.informationUlContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.informationUlText{
    list-style:none;
    font-size: 1.1rem;
    padding:0;
}

.informationUlText li{
    margin-top: 10px;
    max-width: 600px;
    min-height: 90px;
    background-color: rgb(245, 239, 239);
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px #ffffff;
}

.informationUlIcons{
    list-style:none;
    font-size: 2rem;
    text-align: center;
    padding: 0;
}

.informationUlIcons li{
    display: none;
    max-width: 60px;
    min-height: 90px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
}

.fa-sack-dollar{
    color: rgb(138, 123, 38);
}

.fa-truck-fast{
    color: rgb(9, 9, 70);
}

/*-------------------------------------------------------------------------------------------------------------------------------
--------------------------------- Basket --------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------*/

.middlepart_h2, .discount_button{  
    font-size: 9vw;
}

.summery {
    font-size: 5.5vw;
}

.discount_button{  
    cursor: pointer;
    font-size: smaller;
}

.section_basket{
    background-color: rgb(248, 219, 242); /*Variabel som följer temat!?*/
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 0px;
}

.basket{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.main_heading_basket{
    display: flex;
    justify-content: space-between;
}

.basket_heading{
    font-size: 4.5vw;
    
}

.basket_heading_none{
    display: none;         /*Rubrikerna dolts i mobil*/
}

.summery{
    font-weight: 600;
}

/* I varukorgen i mobil kommer vi nog få hoppa rubriker och infon på munkarna, 
blir nog för rörigt och plottrigt? Mitt förslag:
Namn, bild, antal och delsumma vill man ju ha i sammanställningen på rad. 
Följs sedan av totalsumma, dragen rabatt och Summa att betala. Se nedan.

Varukorg:               Delsumma:
Namn på munk
bild
antal                   Summa

Namn på munk
bild
antal                   Summa

Namn på munk
bild 
antal                   Summa

Använd rabattkod 

Totalsumma:
Dragen rabatt:
Summa att betala:
*/


/*-----------------------------------------------------------------------------------------------------------------------------------
---------------------------------------  Form   -----------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------*/

.section-form{
    background-image: url(../images/blueberrybackground.jpg);
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 0px;
}
    
.checkout_form{
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    font-size: 4.5vw;
}

.input_group{
    display: block;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.reset_form_button{
    font-size: larger;
    background-color:  rgb(248, 219, 242);  /*Får ej läggas till i variabel då denna ska vara fast färg.*/
    border-radius: 5px;
    cursor: pointer;
    margin-right: 7vw;
}

.display-none {
    display: none;
    margin-bottom: 20px;
}

.submit_form_button{
    font-size: larger;
    background-color: rgb(195, 237, 195);  /*Får ej läggas till i variabel då denna ska vara fast färg.*/
    border-radius: 5px;
    cursor: pointer;
}

form p {
    font-size: 5vw;
    font-weight: bold;
}

.errorMessage{
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}

/*Så gott som klart.

Men är en del att fixa i JS sen. Se i JS- filen.*/

/*---------------------------------------------------------------------------------------------------
-------------------------------- Footer-------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------*/
footer {
    background-color:rgb(222, 247, 242);
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 0px;
    position: relative;
    display: flex;    
}


