/*--------------------------------------------------------------------------------------------
--------------------------Basket--------------------------------------------------------------
----------------------------------------------------------------------------------------------*/

.middlepart_h2, .summery, .discount_button, .basket_heading{  
    font-size: 1.2vw;
}

.basket_heading_none{
    font-size: 1.2vw;
}


/*-----------------------------------------------------------------------------------------------------------------------------------
----------------------------  Form   -------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------*/

label{
    font-size: 1.2vw;
}

.input_group{
    display: inline;                //Hur får man dessa att ligga centrerade eller till höger? Kolla upp!
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.reset_form_button{
    font-size: larger;
    background-color:  rgb(248, 219, 242);  /*Får ej läggas till i variabel då denna ska vara fast färg.*/
    border-radius: 5px;
    font-size: 4.5;
    cursor: pointer;
    margin-right: 15vw;
}

.submit_form_button{
    font-size: larger;
    background-color: rgb(195, 237, 195);  /*Får ej läggas till i variabel då denna ska vara fast färg.*/
    border-radius: 5px;
    font-size: 4.5;
    cursor: pointer;
}

/*----------------------------------------------------------------------------------------------------
----------------------------- Footer -------------------------------------------------------------------
------------------------------------------------------------------------------------------------------*/






