/*--------------------------------------------------------------------------------------------
--------------------------Basket--------------------------------------------------------------
----------------------------------------------------------------------------------------------*/

.middlepart_container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section_basket{
    width: 60%;
    padding-top: 15px;
}

.section-form{
    width: 40%;
}

.main_heading_basket{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.middlepart_h2, .summery, .discount_button, .basket_heading{  
    font-size: 2vw;
}

.basket_heading_none{
    display: block;                          /*Rubrikerna syns igen*/
    font-size: 2vw;
}

.summery{
    font-weight: 600;
}


.section_basket{                             
    background-color:   rgb(134, 65, 119); /* Samma rosa men mörkar. Lugnare färg för ögat med är ändå Liknande den andra färgskaln*/
}


/*-----------------------------------------------------------------------------------------------------------------------------------
----------------------------  Form   -------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------*/

label{
    font-size: 2vw;
}

.input_group{
    display: block;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}



/*----------------------------------------------------------------------------------------------------
----------------------------- Footer -------------------------------------------------------------------
------------------------------------------------------------------------------------------------------*/





