h1 {
    font-size: 5rem;
}

/*---------------------------------------------------------
-------------------------Our donuts------------------------
----------------------------------------------------------*/

.ourDonuts h2{
    font-size: 4rem;
}

.donutFlexWrap {
    display: flex;
    margin: 0 auto;
    gap: 40px;
    max-width: 1400px;
}

.ourDonutsDropdown {
    margin-left: 0;
}
.ourDonuts {
    width: auto;
}
.priceRange {
    margin-left: 0;
}
.ourDonutsDropdownContainer {
    margin-right: 0;
}

/*---------------------------------------------------------
-------------------------sorting donuts------------------------
----------------------------------------------------------*/

.donutFlexWrap{
    justify-content: center;
}

.PriceCategoriDiv{
    display: flex;
    gap: 55px;
    margin-bottom: 35px;
    justify-content: center;
}

.nameRatingShowalldiv {
    display: flex;
    justify-content: center;
}

.priceRange {
    display: flex;
    justify-content: center;
}

#currentRangeValue {
    margin-left: 20px;
}

.priceRange {
    display: block;   
    position: relative;
    margin-left: 60px;
    font-family: 'Dosis', sans-serif;
    color:rgb(26, 108, 111);
    font-weight: bold; 
    font-size: 1.0rem;
}

#currentRangeValue {
    font-weight: bold;
    margin-left: 175px;
    font-size: 1.0rem;
}

/*---------------------------------------------------------
-------------------Donut card-----------------------------
----------------------------------------------------------*/

.donutCard {
    max-width: 600px;
    height: 500px;
}

.donutCardHeaderContainer h3{
    font-size: 3rem;
}

.donutCardImgContainer img{
    max-width: 190px;
}

.donutCardImgContainer p{
    font-size: 1.7rem;
}

.donutCardRating span{
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.7rem;
}

.donutCardButtonContainer button{
    width: 50px;
    font-size: 1.9rem;
    line-height: 35px;
}

.donutCardButtonContainer input{
    width: 80px;
    font-size: 1.8rem;
}

/*---------------------------------------------------------
-------------------Information ----------------------------
----------------------------------------------------------*/

.informationTextHeaderContainer{
    height: 100px;
    margin-left: 100px;
}

.informationTextHeaderContainer h2{
    line-height: 100px;
    font-size: 4rem;
}

.informationUlText{
    font-size: 1.3rem;
}

.informationUlText li{
    max-width: 700px;
}

.informationUlIcons{
    font-size: 2.5rem;
}

.informationUlIcons li{
    display: block;
    margin-top: 20px;
    display: flex;
}

/*--------------------------------------------------------------------------------------------
--------------------------Basket--------------------------------------------------------------
----------------------------------------------------------------------------------------------*/

.middlepart_container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section_basket{
    width: 50%;
    padding-top: 15px;
}

.section-form{
    width: 50%;
}

.main_heading_basket{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.emptyBasketContainer{
    width: 40vw;
}

/*-----------------------------------------------------------------------------------------------------------------------------------
----------------------------  Form   -------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------*/

label{
    font-size: 2vw;
}

form p {
    font-size: 2.5vw;
}

.reset_form_button{
    font-size: larger;
    margin-right: 7vw;
}

.submit_form_button{
    font-size: x-large;
}

/*------------------------------------------------------------------------------------------------------------------
--------------------------  Popup area  ----------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------*/

.stopAreaTextArea{
    margin-top: 5vw;
    height: 60vw;
}

.stopAreah2 {
    margin-left: 45px;
    font-size: 3.7vw;
}

.stopAreaP {
    margin-left: 45px;
    font-size: 2.5vw;
}

.stopAreaspan{
    font-size: 2.5vw;
}

.stopAreaButton {
    width: 100px;
    height: 50px;
    font-size: 1.5rem;
}

/*---------------------------------------------------------------------------------------------------
-------------------------------- Footer----------------------------------------------------------------
-----------------------------------------------------------------------------------------------------*/

footer {
    font-size: 1.1rem;
}